
.text-center {
    display: flex; 
    justify-content: center; 
    align-items: center; 

}

.digito{
    padding: 7px;
    margin-top: 10px;
    background-color: black;
    color: aliceblue;
    font-size: 50px;
}

.clock{
    font-size: 50px;
    background-color: black;
    color: aliceblue;

}